/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing : 0;
}

label {
    cursor: pointer;
}

.clearfix:after {
    content: "";
    clear  : both;
    display: block;
}

body {
    width: 1200px;
    margin: 0 auto;
}

.main {
    width           : 1000px;
    background-color: white;
}

.header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    flex-flow      : row;
}

.logo {
    width: 40%;
}

.menu {
    width: 60%;
}

.menu ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
    font-size : 0;
}

.menu li {
    margin-right: 10px;
    display    : inline-block;
    position   : relative;
    color      : #595756;
    font-family: "Segoe UI";
    font-size  : 16px;
    font-weight: 400;
    text-align : center;
    padding    : 10px 22px;
}

.menu li:hover {
    background: white;
}

.menu a {
    display        : block;
    text-decoration: none;
    color          : #595756;
}

.blue {
    border-bottom: 1px solid #2d89ef;
}

.purpul {
    border-bottom: 1px solid #603cba;
}

.green {
    border-bottom: 1px solid #01a31c;
}

.red {
    border-bottom: 1px solid #d44a26;
}

.red>a:hover {
    color: red;
}

.orang {
    border-bottom: 1px solid #f0a427;
}

.active:before {
    content      : "";
    position     : absolute;
    bottom       : -11px;
    width        : 0;
    height       : 0;
    border-left  : 5px solid transparent;
    border-bottom: 10px solid #603cba;
    border-right : 5px solid transparent;
    transform    : rotate(-180deg);
}

.content {
    display        : flex;
    justify-content: space-around;
    flex-flow      : column;
}

h1 {
    font-family   : "Segoe UI";
    font-size     : 36px;
    font-weight   : 300;
    /* line-height: 50px; */
    color         : #595756;
}

.top-bar {
    width          : 1000px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.top-bar>div {
    width: 50%;
}

.controls {
    padding        : 10px 10px;
    display        : flex;
    flex-flow      : row;
    justify-content: space-between;
    align-items    : center;
}

.control {
    width: 229px;
}


.block {
    color           : #ffffff;
    text-align      : center;
    padding         : 10px 10px;
    display         : block;
    background-color: #0064cd;
    border          : 1px solid #0064cd;
    font-family     : "Arial MT";
    font-size       : 12px;
    line-height     : 18px;
    position: relative;
}

.block a:after {
    content            : "";
    position: absolute;
    width              : 19px;
    height             : 20px;
    background-image   : url(../images/sprite.png);
    background-position: -100px;
}


form {
    position: relative;
    display : inline-block;
}

input,
button {
    background: transparent;
    border    : 2px solid #cccccc;
}

input {
    width       : 199px;
    height      : 38px;
    padding-left: 15px;
}

button {
    box-sizing   : content-box;
    height       : 6px;
    position     : absolute;
    left         : 180px;
    bottom       : 50%;
    border-radius: 50%;
}

button:before {
    content     : "";
    font-family : "Arial MT";
    font-size   : 18px;
    display     : inline-block;
    position    : absolute;
    right       : -2px;
    bottom      : -9px;
    border-width: 0;
    background  : #cccccc;
    width       : 3px;
    height      : 10px;
    transform   : rotate(-45deg);
}

-webkit-input-placeholder {
    color: purple;
}

-moz-placeholder {
    color: purple;
}

.product-info {
    width      : 1000px;
    position   : relative;
    color      : white;
    font-family: "Segoe UI";
    font-size  : 18px;
    font-weight: 400;
    line-height: 18px;
}
.product-links a {
    color: white;
}

.product-links {
    display        : inline-flex;
    flex-flow      : column wrap;
    margin         : 0 auto;
    max-width      : 500px;
    flex-grow      : 1;
    justify-content: center;
    text-align     : center;

}

.flex {
    display       : flex;
    max-width     : 1000px;
    flex-direction: column;
}

.description {
    width           : 486px;
    border          : 1px solid #603cb9;
    background-color: #603cb9;
    flex-basis      : 100px;
    min-height      : 114px;
    position: relative;
}

.description a:before {
    content            : "";
    position: absolute;
   /* display            : block;*/
    width              : 39px;
    height             : 42px;
    left: 23%;
    background-image   : url(../images/sprite.png);
    background-position: -890px -10px;
}

.description a:after {
    content            : "";
    position: absolute;
    /*display          : block;*/
    width              : 27px;
    height             : 27px;
    background-image   : url(../images/sprite.png);
    background-position: -94px -10px;
    top: 60%;
    right: 5%;
}

.download {
    position: relative;
    margin-top      : 10px;
    width           : 300px;
    height          : 70px;
    background-color: #00a300;
    border          : 1px solid #00a300;
}

.download a:before {
    content            : "";
    position: absolute;
    /*display          : block;*/
    width              : 38px;
    height             : 36px;
    background-image   : url(../images/sprite.png);
    background-position: -719px -10px;
    left: 23%;
}

.examples {
    position: relative;
    margin-top      : 10px;
    background-color: #2b5797;
    border          : 1px solid #2b5797;
    width           : 300px;
    height          : 70px;
}

.examples a:before {
    content            : "";
    position: absolute;
    /* display         : block;*/
    width              : 58px;
    height             : 38px;
    background-image   : url(../images/sprite.png);
    background-position: -350px -10px;
    left: 17%;
}

.video {
    min-height      : 150px;
    margin-left     : 320px;
    margin-top      : -153px;
    flex-basis      : 150px;
    flex-shrink     : 0;
    width           : 158px;
    height          : 168px;
    border          : 1px solid #ffc40d;
    background-color: #ffc40d;
}

.video a:before {
    content            : "";
    position: absolute;
    display            : block;
    width              : 37px;
    height             : 37px;
    background-image   : url(../images/sprite.png);
    background-position: -191px;
    left: 32.5%;
}

.video a:after {
    content            : "";
    position: absolute;
    /*display          : block;*/
    width              : 27px;
    height             : 27px;
    background-image   : url(../images/sprite.png);
    background-position: -46px -10px;
    top: 75%;
    right: 53%;
}

.foto {
    float: right;
    width: 486px;
}

.foto {

    border    : 3px solid #f1f1f1;
    box-shadow: 0 47px 15px -45px rgba(0, 0, 0, 0.5);
}

/* text */
.product-description {
    width      : 1000px;
    padding    : 20px;
    color      : #000000;
    font-family: "Segoe UI";
    font-size  : 14px;
    font-weight: 400;
    line-height: 18px;
}

h2 {
    font-size  : 24px;
    line-height: 50px;
    font-weight: 300;
}

.colors {
    width      : 1000px;
    color      : #000000;
    font-family: "Segoe UI";
    font-size  : 14px;
    font-weight: 400;
    line-height: 18px;
}

h3,
h4,
h5 {
    font-size     : 24px;
    font-weight   : 300;
    line-height   : 50px;
    text-transform: uppercase;
}

h3 {
    color: #00a300;
}

h4 {
    color: #ffc40d;
}

h5 {
    color: #2d89ef;
}

.CAN {
    position            : relative;
    display             : block;
    border              : 1px solid #cccccc;
    /* border-left-color: #00a300;*/
    border-left-style   : solid;
    border-left-width   : 19px;
    padding-left        : 10px;
    margin-bottom       : 10px;
}

.CAN-green {
    position        : absolute;
    width           : 19px;
    height          : 106px;
    right           : 100%;
    top             : -1px;
    background-color: #00a300;
}

.I2C {
    position           : relative;
    display            : block;
    border             : 1px solid #cccccc;
    /*border-left-color: #ffc40d;*/
    border-left-style  : solid;
    border-left-width  : 19px;
    padding-left       : 10px;
    margin-bottom      : 10px;
}

.I2C-orang {
    position        : absolute;
    width           : 19px;
    height          : 106px;
    right           : 100%;
    top             : -1px;
    background-color: #ffc40d;
}

.UART {
    position            : relative;
    display             : block;
    border              : 1px solid #cccccc;
    /* border-left-color: #2d89ef;*/
    border-left-style   : solid;
    border-left-width   : 19px;
    padding-left        : 10px;
}

.UART-blue {
    position        : absolute;
    width           : 19px;
    height          : 106px;
    right           : 100%;
    top             : -1px;
    background-color: #2d89ef;
}

/*footer*/
.row-f {
    width : 1000px;
}

.row {
    margin-top      : 20px;
    position        : relative;
    color           : #ffffff;
    font-family     : "Segoe UI";
    font-size       : 18px;
    font-weight     : 300;
    line-height     : 18px;
    padding         : 20px 30px;
    background-color: #c3325f;
}

.row:after {
    content            : "";
    position: absolute;
    width              : 31px;
    height             : 32px;
    background-image   : url(../images/sprite.png);
    background-position: -140px -10px;
    top: 35%;
    left: 1px;
}

.row::before {
    content      : "";
    position     : absolute;
    bottom       : -10%;
    width        : 0;
    height       : 0;
    border-left  : 10px solid transparent;
    border-bottom: 10px solid #c3325f;
    transform    : rotate(-180deg);
}

.form {
    width     : 1000px;
    background: #f1f1f1;
}

.form-row {
    position        : relative;
    width           : 1000px;
    height          : 213px;
    background-color: #f1f1f1;
}

.flex-form {
    display  : flex;
    max-width: 1000px;
}

select {
    width      : 310px;
    margin-top : 10px;
    height     : 31px;
    line-height: 31px;
    padding    : 0 10px;
    background : #ffffff;
    border     : 2px solid #bababa;
    color      : #000000;
    font-family: "Segoe UI";
    font-size  : 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-group {
    margin-top: 10px;
}

.form-group input,
.form-group textarea {
    display         : block;
    width           : 310px;
    height          : 31px;
    padding         : 0 20px;
    margin-top      : 10px;
    margin-bottom   : 10px;
    background-color: #ffffff;
    line-height     : 14px;
    border          : 2px solid #bababa;
    font-family     : "Segoe UI";
    font-size       : 14px;
    font-weight     : 400;
}

.flex-row {
    flex-basis    : 150px;
    flex-shrink   : 0;
    margin-top    : 10px;
    display       : flex;
    flex-direction: column;
}

.form-row-icon {
    flex-basis : 50%;
    min-height : 150px;
    margin-left: 10px;
}

.form-row-icon:first-child {
    margin-bottom: 10px;
}

.form-row-icon {
    color      : #ffffff;
    font-family: "Segoe UI";
    font-size  : 12px;
    font-weight: 400;
    line-height: 14px;
}

.form-row-icon input[type="submit"] {
    width        : 114px;
    height       : 31px;
    margin-top   : 30px;
    background   : #c3325f;
    border-bottom: 2px solid #c3325f;
    color        : white;
    font-family  : "Segoe UI";
    font-size    : 12px;
    font-weight  : 400;
    line-height  : 14px;
}

footer {
    margin-top      : 20px;
    padding         : 15px 15px;
    width           : 1000px;
    font-family     : "Segoe UI";
    font-size       : 12px;
    font-weight     : 400;
    line-height     : 14px;
    color           : #3b3b3b;
    background-color: #f1f1f1;
}